body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

#app {
    width: 90%;
    max-width: 1200px;
    padding: 60px 0;
}

.title {
    font-weight: 700;
}

.button {
    background: #E9E9E9;
    border-radius: 6px;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    
    & + & {
        margin-left: 8px;
    }
    
    &:hover {
        background: #E2E2E2;
    }
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
